<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search book</title>
</head>
<body>
<form th:method="POST" th:action="@{/books/search}">
    <label for="search">Введите поисковый запрос: </label>
    <input type="text" id="search" name="query" th:value="${param.query}">
    <br>

    <input type="submit" class="btn" value="Искать!">
</form>

<div th:if="${!books.isEmpty()}">
    <div th:each="book : ${books}">
        <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfManufacture()}"></p>

        <div th:if="${book.getOwner() != null}">
            <p th:text="'Книга сейчас у: ' + ${book.getOwner().getFio()}"></p>
        </div>

        <div th:if="${book.getOwner() == null}">
            <p>Книга свободна</p>
        </div>
    </div>

    <hr>
</div>

<div th:if="${books.isEmpty() || books == null}">
    <p>Книг не найдено</p>
</div>

</body>
</html>