<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>book</title>
    <style>
        .btn{
            padding: 2px 5px; /* Отступы */
            font-size: 14px; /* Размер шрифта */
            border: none; /* Без границы */
            border-radius: 4px; /* Скругление углов */
            cursor: pointer; /* Указатель для курсора */
            background-color: #007BFF; /* Один цвет для всех кнопок */
            color: white;
        }
    </style>
</head>
<body>

<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfManufacture()}"></p>

<form th:method="POST" th:action="@{/books/release}" th:if="${person != null}">
    <input type="hidden" th:name="bookId" th:value="${book.getBookId()}"/>
    <p th:text="'Книга сейчас у: ' + ${person.getFio()}"></p>
    <input class="btn" type="submit" value="Освободить книгу">
</form>

<form th:method="POST" th:action="@{/books/choose}" th:if="${person == null}">
    <input type="hidden" th:name="bookId" th:value="${book.getBookId()}"/>

    <p>Эта книга свободна. Кому ее назначить?</p>
    <label for="personSel">Выберите человека</label>
    <select id="personSel" th:name="personId">
        <option th:each="person : ${people}" th:value="${person.personId}" th:text="${person.fio}"></option>
    </select>
    <input class="btn" type="submit" value="Назначить книгу"/>
</form>

<hr/>
<button class="btn"><a style="color: white; text-decoration: none" th:href="@{/books/{id}/edit(id=${book.getBookId()})}">Редактировать</a></button>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBookId()})}">
    <input style="margin-top: 8px;" class="btn" type="submit" value="Удалить">
</form>

</body>
</html>